# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# TikZ & PGFplots specific
*.dpth
*.md5
*.auxlock
*-converted-to.*
*.run.xml
*-figure*.pdf
*-figure*.tex
*-figure*.dep
*.pgf-plot.*

# PDF output (uncomment if you don't want to track PDFs)
# *.pdf
